/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    
  /* layout */

body {
    font-family: Arial, Helvetica, sans-serif
}

.marca {
    font-size: 10px;
}
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    width: calc(100% / 3);
    padding: 5px;
  }
  
  /* products */
  .product {
    padding-bottom: 5px;
    position: relative;
  }
  .product img {
    width: 100%;
  }
  .basecuore {
    position: absolute;
    top: 4%;
    right: 0;
    background-color: #fff;
    padding: 3%;
  }
 
  .sconto {
      position: absolute;
      bottom: 8%;
      background-color: #eb0037;
      color: white;
      font-size: 10px;
      padding: 4px;
      font-weight: bold;
      text-align: center;
  }

  .sostenibilità {
    position: absolute;
    bottom: 8%;
    left: 10%;
    background-color: #00875a;
    color: white;
    font-size: 10px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

.sostenibilità2 {
    position: absolute;
    bottom: 8%;
    background-color: #00875a;
    color: white;
    font-size: 10px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

.prezzorosso {
    color: red;
    font-size: 10px;
    font-weight: bold;
}

.prezzoorigi {
    text-decoration-line: line-through;
    font-size: 10px;
}

.product:hover .basecuore { 
    color: red;
}
